/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
========================================
Clearfix
========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*
========================================
Custom styles
========================================
*/

body {
  background: #fff;
  color: #333;
  font: 400 16px/22px 'Montserrat', sans-serif;
}
h1 {
  color: red;
  font: 700 48px/56px 'Montserrat', sans-serif;
}
h2 {
  font: 700 32px/36px 'Montserrat', sans-serif;
}

/*
========================================
Header
========================================
*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 0px;
  background: #333;
}

/*
========================================
Navigation
========================================
*/
.nav {
  text-align: center;
  margin: auto;
  height: 100%;
  text-transform: uppercase;
  width: 100%;
}
.logo {
  display: block;
  height: 64px;
  width: 100%;
  background-color: red;
  padding: 12px 15px;
}
.nav ul {
  background: #333;
  margin: 0;
  width: 100%;
  float: left;
  list-style: outside none none;
}
.nav li {
  width: 100%;
  margin: 0;
  background-color: #333;
}
.nav li a {
  display: block;
  padding: 4px 1vw;
  color: #fff;
  text-decoration: none;
}
.nav li a.current-page {
  color: #f00;
}
.nav a:hover {
  color: #f00;
}

/*
========================================
Main content
========================================
*/
.main {
  position: relative;
  margin-top: 274px;
  width: 100%;
}

/*
========================================
Intro
========================================
*/
.intro {
  width: 100%;
}
.video-container {
  position: relative;
  width: 100%;
  background-image: url("../images/contact-page-poster.jpeg");
  min-height: 300px;
}
.video {
  display: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("../images/texture.png");
  z-index: 20;
}
.marker {
  position: absolute;
  top: 0;
  background-color: rgba(223, 223, 223, 0.5);
  width: 100%;
  height: 46px;
  padding: 11px 62px;
  z-index: 30;
}
.tagline {
  position: absolute;
  top: 0;
  padding: 15% 0;
  display: inline;
  text-align: center;
  vertical-align: middle;
  max-height: 100%;
  width: 100%;
  z-index: 40;
}
/*
========================================
Map
========================================
*/
.map-title {
  text-align: center;
  padding-top: 66px;
}
.map {
  position: relative;
  margin-top: -210px;
  padding: 276px 10% 0;
  width: 100%;
}
.contact-form-s {
  position: relative;
  width: 80%;
  margin: 10px auto;
  border: 8px ridge #888;
  background-color: #fff;
}
form p {
  margin: 10px;
  width: 90%;
}
input {
  margin: 0 10px;
  width: 90%;
  font: 400 16px/22px 'Montserrat', sans-serif;
}
textarea {
  margin: 0 10px;
  margin-bottom: 10px;
  width: 90%;
  font: 400 16px/22px 'Montserrat', sans-serif;
}
/*
========================================
Tweets
========================================
*/
.tweets {
  width: 30%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
}
/*
========================================
Footer
========================================
*/
.footer {
  position: relative;
  background-color: #E4E4E4;
  width: 100%;
  text-align: center;
}
.row {
  width: 100%;
  max-width: 960px;
  min-width: 320px;
  max-height: 570px;
  margin: 0 auto;
}
.footer-item {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
  padding: 0 10px;
}
.footer-item-l {
  width: 100%;
  background: transparent none no-repeat;
}
.footer-item p {
  padding: 10px 0;
  margin: 10px 0;
}
.footer-img {
  max-width: 100%;
  height: auto;
}
.hex-hide {
  display: none;
}
.copyright-info {
  position: relative;
  width: 50vw;
  min-width: 280px;
  margin: 10px auto;
  margin-bottom: 0;
  padding: 20px 0;
  text-align: left;
  border-top: 1px solid #999;
}
.footer-social {
  position: relative;
  height: 64px;
  width: 70%;
  margin: auto;
}
.footer-social li {
  float: left;
  width: 33.333%;
}

@media (min-width: 889px) {
  .header {
    position: fixed;
    top: 0;
    height: 64px;
    width: 100%;
    z-index: 100;
    margin-bottom: 0px;
    background: #333;
  }
  .logo {
    display: inline;
    float: left;
    height: 64px;
    width: 68px;
    background-color: red;
    padding: 12px 15px;
  }
  .logo:hover {
    width: 200px;
  }
  .nav ul {
    position: relative;
    left: 0;
    background: #333;
    margin: 0;
    height: 100%;
    width: auto;
    float: left;
    list-style: outside none none;
  }
  .nav li a {
    display: block;
    height: 100%;
    padding: 18px 0.25vw;
    color: #fff;
    text-decoration: none;
  }
  .nav li a.current-page {
    color: #f00;
  }
  .nav a:hover {
    color: #f00;
  }
  .nav li {
    float: left;
    height: 100%;
    width: auto;
    margin: 0;
    padding-right: 9px;
    background: transparent url("../images/header-nav-divider.png") no-repeat scroll right 45%;
  }
  .nav li:last-child {
    margin-right: 0;
    background-image: none;
  }
  .nav li:last-child a {
    padding-right: 0;
  }
  .main {
    position: relative;
    margin-top: 64px;
    width: 100%;
  }
  .map {
    padding-top: 66px;
    margin: 0;
  }
  .contact-form-s {
    position: relative;
    width: 80%;
    margin: 10px auto;
    border: 8px ridge #888;
    background-color: #fff;
  }
}

@media (min-width: 1025px) {
  .nav li a {
    display: block;
    height: 100%;
    padding: 18px 1vw;
    color: #fff;
    text-decoration: none;
  }
}

@media (min-width: 769px) {
  .footer-item-s {
    width: 33.333%;
    max-height: 295px;
  }
  .hexagon {
    display: inline;
  }
  .footer-social {
    position: relative;
    top: -135px;
    height: 64px;
    width: 197px;
    margin: 0 auto;
  }
}

@media (min-width: 481px) {
  .contact-form {
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 30%;
    min-width: 300px;
    max-height: 450px;
    height: 70%;
    border: 8px ridge #888;
    z-index: 20;
    background-color: #fff;
  }
  .video-container {
    position: relative;
    width: 100%;
    background-image: none;
  }
  .video {
    display: block;
    width: 100%;
  }
}